<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>
<body class="w3-section" style="background-color: black;">
    <div class="w3-card" style="background-color: white;width:350px;height:350px;left: 40%;right: 40%;top: 40%;bottom: 40%;" >
        <p>oops! seems there has been an error with the server</p>
        <p>we are working to fix the error as soon as possible</p>
    </div>
</body>
</html>