{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'js/homepage.js' %}"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1423595044384927"
     crossorigin="anonymous"></script>

  <title>Firebreather's portfolio</title>
</head>

<body class="w3-black" id="bd">
  <nav class="w3-sidebar w3-hide-small w3-bar-block w3-center mysidebar">
    <div>
      <img src="{% static 'images/fb1.svg' %}" alt="" class="w3-image w3-opacity-min">
    </div>
    <div>
      <a class="w3-bar-item w3-button w3-padding-large w3-black" href="{% url 'home' %}">HOME</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#photos">PHOTOS</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#projects">PROJECTS</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#about">ABOUT</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#contact">CONTACT</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#mlapp">FireAutoML</a>
    </div>
  </nav>
  <div class="w3-top w3-hide-large w3-hide-medium ">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-small w3-center">
      <a class="w3-bar-item w3-button w3-padding-large w3-black" href="{% url 'home' %}">HOME</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#projects">PROJECTS</a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" href="#about">ABOUT</a>
    </div>
  </div>
  <div id="main" class="w3-padding-large">
    <header class="w3-container w3-pading-32 w3-center w3-black">
      <h1 class="w3-jumbo"><span class="w3-hide-small">I'm Akinrotimi </span> <span
          class="w3-hide-large w3-hide-medium">Ak.</span> Daniel</h1>
      <h3 class="w3-xxlarge"><span class="w3-hide-small"> a.k.a LordFirebreather</span></h3>
      <p class="w3-hide-small">PCB Designer, Machine Learning Engineer and Web Developer</p>
      <p class="w3-hide-large w3-hide-medium"> Ml Eng, Web Dev</p>
      <img src="{% static 'images/fb1.png' %}" class="w3-image " width="992" height="1108" alt="">
    </header>
  </div>

  <div class="w3-content w3-justify w3-text-gray w3-padding-64 " style="padding-left: 4px;">
    <h2 class="w3-text-light-grey ">My Name</h2>
    <hr class="w3-opacity" style="width: 200px;">
    <p id="about">
      I am a Akinrotimi Daniel. I'm a Christian, who really loves his God.
      I am currently a student of mechatronics engineering at the federal
      university of Agriculture Abeokuta. I have a deep interest in relative and quantum
      physics, hoping to one day discover the grand-unification-theory. I also am in love with artificial
      intelligence.
      Finally, I am a software developer with my interests centered around AI, web , networking and cybersecurity.
    </p>

    <h3 class="w3-text-light-gray"> My Skills</h3>
    <hr class="w3-opacity" style="width: 200px;">
    <div class=" fireim" style="display: flex; justify-content:space-between; margin-bottom:80px;">
      <div><img src="{% static 'images/py.png' %}" class="w3-image w3-round-large" width="100px"></div>
      <div><img src="{% static 'images/GO.svg' %}" class="w3-image w3-round-large" width="100px"></div>
      <div><img src="{% static 'images/al.png' %}" class="w3-image w3-round-large" width="100px"></div>
      <div><img src="{% static 'images/hcj.png' %}" class="w3-image w3-round-large" width="200px"></div>
    </div>


    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">-</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">5+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">--</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">5+</span><br>
        Meetings
      </div>
    </div>
    <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> <a href="{% static 'latest_cv.pdf' %}" download>Download Resume</a>
    </button>


    <div class="w3-padding-64 w3-content" id="photos">
      <h2 class="w3-text-light-grey">My Photos</h2>
      <hr style="width:200px" class="w3-opacity">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="{% static 'images/1.png' %}" style="width:100%">
          <img src="{% static 'images/7.png' %}" style="width:100%">
        </div>

        <div class="w3-half">
          <img src="{% static 'images/4.png' %}" style="width:100%">
          <img src="{% static 'images/5.png' %}" style="width:100%">

        </div>
      </div>
    </div>
    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">Contact Me</h2>
      <hr style="width:200px" class="w3-opacity">

      <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Lagos, Nigeria</p>
        <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +2349168700610</p>
        <p><i class="fa fa-github fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Github: firebreather-heart</p>
        <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: dtenny95@gmail.com</p>
      </div><br>
      <p>Lets get in touch. Send me a message:</p>

      <form action="{% url 'dm' %}" method="POST">
        {% csrf_token %}
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" id="name" required name="name"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" id="email" required name="email"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" id="subject" required name="subject">
        </p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" id="message" required name="message">
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
    </div>

    <div class="popup" id="popup">
      <div class="w3-card-4 maincard ">
        <div class="w3-bar bar-one">
          <p>Register for web development training Now</p>
          <a href="https://forms.gle/DUNoAjzB1Dzxhffv7" class="w3-button w3-green w3-hover-pale-green"><p>click here to take a survey, it will help us set the best time for the lessons</p></a>
        </div>
        <div class="w3-card-3 ">
          <form action="{%url 'register' %}" method="post" class="w3-card w3-round-large formelement">
            {% csrf_token %}
            <p><label for="">First Name</label></p>
            <p><input type="text" class="w3-input fem w3-round" name="firstname" required placeholder="first Name"></p>

            <p><label for="">Surname</label></p>
            <p><input type="text" class="w3-input fem w3-round" name="surname" required placeholder="Surname"></p>

            <p><label for="">Date of Birth</label></p>
            <p><input type="date" class="w3-input fem" name="age" required></p>

            <p><label for="">Email Address</label></p>
            <p><input type="email" name="email" class="w3-input fem" required></p>

            <p><label for="">Phone Number</label></p>
            <p><input type="tel" name="phone" class="w3-input fem" required></p>

            <p><label for="">PLatform:online/physical</label></p>
            <p><input type="tel" name="platform" class="w3-input fem" required></p>

            <p><button type="submit" class="w3-button  w3-hover-blue w3-round"
                style="background-color: darkslateblue;color:white">Register</button> <button class="w3-btn w3-red" onclick="closesesame()">Close</button></p>
                

          </form>
        </div>
      </div>
      <style>
        .popup {
          display: none;
          position: fixed;
          z-index: 9;
          top: 20%;
          left: 20%;
          height: 700px;
          overflow: scroll;
          background: white;
          border: 1px solid rgb(22, 14, 42);
          border-radius: 15px;
          box-shadow: 10px burlywood;
        }

        .bar-one {
          background-color: darkslateblue;
          color: aliceblue;
          padding: 16px;
          font-weight: 700;
        }

        .fem {
          border: 0.5px solid darkslateblue;
          border-radius: 7.5px;
        }

        .formelement {
          padding: 10px;
        }

        @media screen and (max-width:500px) {
          .popup {
            display: none;
            position: fixed;
            z-index: 9;
            background: white;
            height: 700px;
            overflow: scroll;
            border: 1px solid rgb(22, 14, 42);
            border-radius: 15px;
            box-shadow: 10px burlywood;
            margin: 20px;
            max-width: 400px;
            left: 10%;
            right: 10%;
            top: 50px;
          }

          .bar-one {
            background-color: darkslateblue;
            color: aliceblue;
            padding: 16px;
            font-weight: 700;
          }

          .fem {
            border: 0.5px solid darkslateblue;
            border-radius: 7.5px;
          }

          .formelement {
            padding: 10px;
          }
        }
      </style>
    </div>

    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
 <a href="https://gitHub.com/firebreather-heart"><i class="fa fa-github w3-hover-opacity"></i>
 </a>
   <a href="https://wa.me/2348129741366">   <i class="fa fa-whatsapp w3-hover-opacity"></a></i>
   </a>
  <a href="https://twitter.com/LFirebreather">    <i class="fa fa-twitter w3-hover-opacity"></i></a>
   <a href="https://www.linkedin.com/in/daniel-akinrotimi-firebc">   <i class="fa fa-linkedin w3-hover-opacity"></i>
   </a>
      <p class="w3-medium">Powered by <a href="#" target="_blank" class="w3-hover-text-green">fireb_corps</a> courtesy -
        w3.css</p>
    </footer>

  </div>
  <footer class="footie w3-hide w3-bar">
    <p><button onclick="opensesame()" class="w3-button w3-green w3-round">Register</button> Now for web design training,
      Registration ends on 26th September. You will receive an email upon successful registration</p>
    <style>
      .footie {
        position: fixed;
        bottom: 0;
        background-color: white;
        border: 1px solid black;
        color: black;
        z-index: 5;
        padding: 4px;
      }
    </style>
  </footer>
  <script>
    opensesame = () => {
      popup = document.getElementById('popup');
      popup.style.display = 'block';
      document.querySelector('#bd').className += "w3-opacity-max";
    }
    closesesame = () => {
      popup = document.getElementById('popup');
      popup.style.display = 'none';
    }
  </script>
</body>

</html>
